.portfolio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.portfolio-detail {
    display: none;
}

.portfolio-detail.active {
    display: block;
}

.portfolio-box .numb {
    font-size: 10rem;
    -webkit-text-stroke: 0.07rem var(--white-color);
    color: transparent;
    line-height: 1;
    margin-bottom: 2rem;
}

.portfolio-box h3 {
    font-size: 3.2rem;
}

.portfolio-box h4 {
    font-size: 2rem;
    color: var(--main-color);
    margin: 0.8rem 0 5rem;
}

.portfolio-box p {
    font-size: 1.6rem;
}

.portfolio-box .tech {
    margin: 2rem 0;
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--white-color);
    padding-bottom: 2rem;
}

.portfolio-box .live-github a {
    position: relative;
    display: inline-flex;
    padding: 1.3rem;
    font-size: 3rem;
    color: var(--white-color);
    border-radius: 50%;
    background: var(--second-bg-color);
    transition: 0.5s;
}

.portfolio-box .live-github a:hover {
    color: var(--main-color);
}

.portfolio-box .live-github a:first-child {
    margin-right: 1.5rem;
}

.portfolio-box .live-github a:first-child i {
    transform: rotate(135deg);
}